/* line 4, ../_sass/screen.scss */
html, body {
  background: whitesmoke;
  height: 100%;
  width: auto !important;
  overflow-x: hidden !important;
}

/* line 11, ../_sass/screen.scss */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* line 20, ../_sass/screen.scss */
.nav-bar {
  background: whitesmoke;
}
/* line 23, ../_sass/screen.scss */
.nav-bar ul {
  padding: 0px;
}
/* line 26, ../_sass/screen.scss */
.nav-bar li {
  display: inline-block;
  padding: 15px 25px 5px 0px;
  font-size: 20px;
}
/* line 31, ../_sass/screen.scss */
.nav-bar a {
  color: #646464;
}

/* line 36, ../_sass/screen.scss */
header {
  background: url(../images/wood-bg.jpg);
  background-size: 100%;
  width: 100%;
  height: 10em;
  position: relative;
  border-bottom: 3px solid gray;
  overflow: hidden;
}

/* line 46, ../_sass/screen.scss */
.header-logo {
  width: 400px;
  position: absolute;
  top: 10px;
  left: 30px;
  opacity: .9;
}

/* line 54, ../_sass/screen.scss */
.bread {
  width: 400px;
  position: absolute;
  top: -60px;
  right: 10px;
}

/* line 61, ../_sass/screen.scss */
.panel {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
}
/* line 72, ../_sass/screen.scss */
.panel img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* line 79, ../_sass/screen.scss */
.show-mobile {
  display: none;
}

/* line 83, ../_sass/screen.scss */
.row2 {
  border-top: 1px solid #f0f0f0;
  margin-top: 5px;
  padding: 5px 0px;
}

/* line 90, ../_sass/screen.scss */
.social-icons li {
  list-style: none;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #bebebe;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}
/* line 100, ../_sass/screen.scss */
.social-icons li .glyphicon-thumbs-up {
  color: black;
}
/* line 104, ../_sass/screen.scss */
.social-icons li .glyphicon-heart {
  color: red;
}
/* line 108, ../_sass/screen.scss */
.social-icons li .glyphicon-envelope {
  color: white;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

/* line 122, ../_sass/screen.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}

/* line 134, ../_sass/screen.scss */
.glyphicon-bookmark:before {
  content: "\e044";
}

/* line 138, ../_sass/screen.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
}

/* line 142, ../_sass/screen.scss */
.glyphicon-chevron-up:before {
  content: "\e113";
}

/* line 146, ../_sass/screen.scss */
.glyphicon-envelope:before {
  content: "\2709";
}

/* line 150, ../_sass/screen.scss */
.glyphicon-heart:before {
  content: "\e005";
}

/* line 154, ../_sass/screen.scss */
.glyphicon-thumbs-up:before {
  content: "\e125";
}

/* line 158, ../_sass/screen.scss */
.date-flag {
  font-size: 4.5em;
  position: absolute;
  top: -10px;
  right: 0px;
}
/* line 165, ../_sass/screen.scss */
.date-flag p {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 8px;
  right: 16px;
}

/* line 174, ../_sass/screen.scss */
h2 {
  font-family: 'Cherry Swash', cursive;
}

/* line 178, ../_sass/screen.scss */
h2, h3 {
  margin: 0px 0px 10px;
  padding: 0px;
}

/* line 185, ../_sass/screen.scss */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 191, ../_sass/screen.scss */
.read-more, .read-less, .read-more2, .read-less2 {
  display: none;
}

/* line 195, ../_sass/screen.scss */
footer {
  background: #d2d2d2;
  height: 200px;
  padding-top: 20px;
}
/* line 200, ../_sass/screen.scss */
footer ul {
  padding: 0px;
  margin: 0px;
}
/* line 205, ../_sass/screen.scss */
footer li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 25px;
  color: white;
}

/* line 213, ../_sass/screen.scss */
.footer-logo {
  width: 350px;
}

@media screen and (max-width: 870px) {
  /* line 218, ../_sass/screen.scss */
  .bread {
    width: 230px;
    position: absolute;
    top: 0px;
    right: -30px;
  }
}
@media screen and (max-width: 670px) {
  /* line 227, ../_sass/screen.scss */
  header {
    text-align: center;
  }

  /* line 231, ../_sass/screen.scss */
  .header-logo {
    position: static;
  }

  /* line 235, ../_sass/screen.scss */
  .bread {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  /* line 241, ../_sass/screen.scss */
  header {
    background-image: none;
    height: 9em;
    border-bottom: 0px;
  }

  /* line 247, ../_sass/screen.scss */
  .flexslider {
    display: none;
  }

  /* line 251, ../_sass/screen.scss */
  .nav-bar {
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  /* line 257, ../_sass/screen.scss */
  h2 {
    font-size: 25px;
  }

  /* line 261, ../_sass/screen.scss */
  .hide-show-mobile {
    display: none;
  }

  /* line 265, ../_sass/screen.scss */
  .read-more, .read-more2 {
    display: block;
    cursor: pointer;
    color: #c8c8c8;
  }

  /* line 271, ../_sass/screen.scss */
  .read-less, .read-less2 {
    cursor: pointer;
    color: #c8c8c8;
  }
}
@media screen and (max-width: 400px) {
  /* line 279, ../_sass/screen.scss */
  .footer-logo {
    width: 75%;
  }
}
@media screen and (max-width: 440px) {
  /* line 291, ../_sass/screen.scss */
  header {
    height: 7em;
  }

  /* line 295, ../_sass/screen.scss */
  .header-logo {
    width: 75%;
  }
}
@media screen and (max-width: 363px) {
  /* line 302, ../_sass/screen.scss */
  .nav-bar li {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 343px) {
  /* line 309, ../_sass/screen.scss */
  .nav-bar {
    font-size: .9em;
  }

  /* line 313, ../_sass/screen.scss */
  h2, h3 {
    font-size: 20px;
  }

  /* line 318, ../_sass/screen.scss */
  footer li {
    margin-top: 10px;
    font-size: 1em;
  }
}
@media screen and (max-width: 320px) {
  /* line 327, ../_sass/screen.scss */
  header {
    height: 5.5em;
  }
}
