$caramel: #faba54;
$brown: #cc9966;

.contact-title {
    margin-bottom: 1em;
//     margin-left: 30px;
}

.contact-box {
    border: 1px solid $caramel;
    // margin: 0 100px 0 30px;
    padding: 20px;
}

.contact-link {
    color: $brown;
}

.subscribe-button {
    background-color: $caramel;
    border-radius: 15%;
    border-bottom: 2px solid $brown;
    margin-left: 5px;

    &:hover {
        background-color: $brown;
    }
}

// /*MEDIA QUERY SECTION*/
// @media screen and (min-width: 1150px) {
//     .subscribe-button {
//     margin-left: 60px;
//     }
// }

// @media screen and (min-width: 1050px) {
//     .subscribe-button {
//     margin-left: 50px;
//     }
// }

// @media screen and (min-width: 950px) {
//     .subscribe-button {
//     margin-left: 45px;
//     }
// }

// @media screen and (min-width: 850px) {
//     .subscribe-button {
//     margin-left: 40px;
//     }
// }

// @media screen and (min-width: 750px) {
//     .subscribe-button {
//     margin-left: 35px;
//     }
// }

// @media screen and (min-width: 650px) {
//     .subscribe-button {
//     margin-left: 30px;
//     }
// }

// @media screen and (max-width: 593px) {
//     .contact-box h4 {
//         font-size: 1em;
//     }
//     .contact-title {
//         font-size: 1.5em;
//     }
//     .subscribe-button {
//     margin-left: 7px;
//     }
// }
// @media screen and (max-width: 502px) {
//     .contact-box {
//         font-size: .9em;
//     }
// }

// @media screen and (max-width: 478px) {
//     .contact-title {
//         font-size: 1.4em;
//     }
//     .contact-box {
//     margin: 0 140px 0 30px;
//     padding: 15px;
//     }
// }

// @media screen and (max-width: 437px) {
//     .contact-box {
//     margin: 0 100px 0 30px;
//     padding: 15px;
//     }
// }
