.joey {
    width: 50%;
    height: 50%;
}

.kristin {
    width: 50%;
    height: 50%;
}

.joey-block {
    padding-bottom: 15px;
}

.kristin-block {
    margin-bottom: 15px;
}

//has impact when removed but don't know why, individual declarations have no impact
.about {
       b {
          /*font-weight: bold;*/
          /*display: block;*/
          /*text-align: center;*/
       }

       img {
          border-radius: 50%;
          border: 1px solid #d3d3d3;
       }

       p {
          line-height: 1em;
          font-size: 1.5em;
          display: block;
          width: 90%;
       }
}

@media screen and (min-width: 1199px) {
    .about p {
      font-size: 2em;
    }
}

@media screen and (max-width: 991px) {
    .joey {
        width: 70%;
        height: 70%;
        margin-bottom: 10px;
    }
    .kristin {
        width: 70%;
        height: 70%;
        margin-bottom: 10px;
    }

    .about b {
        display: block;
        text-align: center;
        padding-right: 40px;
    }

    .about p {
      font-size: 1.4em;
    }
}

@media screen and (max-width: 700px) {
    .about p {
      font-size: 1.3em;
    }
}

@media screen and (max-width: 662px) {
    .about p {
      font-size: 1.2em;
    }
}

@media screen and (max-width: 590px) {
    .about p {
      font-size: 1.1em;
    }
    .heading h2 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 532px) {
    .about p {
      font-size: 1.0em;
    }
}

@media screen and (max-width: 510px) {
    .about b {
        margin-bottom: 20px;
    }
    .about b {
        padding-right: 25px;
    }
}

@media screen and (max-width: 475px) {
    .about b {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 440px) {
    .about b {
        margin-bottom: 100px;
    }
}

//trying to re-center pic labels
@media screen and (max-width: 543px) {
    .about b {
        padding-right: 20px;
    }
}

@media screen and (max-width: 468px) {
    .about b {
        padding-right: 17px;
    }
}
