<!doctype html>
<html>
<head>
    <title>Our Daily Bread</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<!--     <link rel="stylesheet" type="text/css" href="css/bootstrap.full.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/screen.css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/flexslider.css">
    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.js"></script>
    
    <script src="js/jquery.flexslider.js"></script>
<script type="text/javascript"> $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    animationLoop: false,
    itemWidth: 210,
    itemMargin: 5
  });
});
   </script>
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen, projection">
    <![endif]-->

</head>

<body>
<div id="wrap">
    <header>
    <img class="header-logo" src="{{ site.baseurl }}/images/logo-overlay.png">
    <img class="bread" src="{{ site.baseurl }}/images/bread.png">
    </header>

<div class="container">
    <div class="nav-bar">
        <ul>
          <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
          <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
          <li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
        </ul>
    </div>
</div>

    {{ content }}
</div>
<footer class="text-center">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
        <img class="footer-logo " src="{{ site.baseurl }}/images/logo-overlay.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <ul>
                <a href="{{ site.baseurl }}/index.html"><li>Home</li></a>
                <a href="{{ site.baseurl }}/about.html"><li>About Us</li></a>
                <a href="{{ site.baseurl }}/contact.html"><li>Contact Us</li></a>
            </ul>
        </div>
    </div>
    </div>
</footer>

</body>
</html>
